<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter | Home Page</title>
  <link rel="stylesheet" href="../../static/css/_404.css">
</head>
<body class="main">

    <!---  CARD MORE --->
    <!---  CARD NEW TWEET --->
      <div class="error_404">
        <img src="../../static/img/X_logo_2023.png" alt="">
        <h1>Il n'y a rien à voir ici</h1>
        <h4>Vous tentez peut-être d'accéder à une page qui n'existe pas</h4>
        <button 
                onclick="window.history.go(-1); return false;"
                type="button"
                value="Cancel">Retour </button>
      </div>
  
  <script src="../../static/js/base.js"></script>
</body>
</html>