<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter | Home Page</title>
  <link rel="stylesheet" href="../../static/css/_404.css">
</head>
<body class="main">

    <!---  CARD MORE --->
    <!---  CARD NEW TWEET --->
      <form action="/login" class="error_404 ">
        <img src="../../static/img/X_logo_2023.png" alt="">
        <h1>Vous n'avez pas le droit d'accéder à cette page</h1>
        <h4>Vous devriez peut-être vous reconnecter ?</h4>
        <button > Connexion </button>
      </form>
  
  <script src="../../static/js/base.js"></script>
</body>
</html>