{% extends "layouts/base.html" %}

{% block ownCss %}
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/tweet.css">
{% endblock %}

{% block content %}
    <aside class="side feed">
        <div class="topBar">
            <div id="optionTopBar" class="">
                <div id="actual" class="onglet">
                    <p href="" class="optionPage">Acceuil</p>
                </div>
                <div id="unactual" class="onglet">
                    <p href="" class="optionPage">Abonnements</p>
                </div>
            </div>
            <div  id="settingShortcut">
                <img src="../../static/img/setting_icon.svg" alt="réglages">
            </div>
        </div>

        <div class="tweetBoxTop">
            <div class="profileTweet">
                <img src="{{current_user['pp_url']}}" alt="">
            </div>

            <form method="post" class="tweetBoxTopContent" action="/home/add-tweet">
                <input name="content" type="text" placeholder="Quoi de neuf ?!">
                <div class="additional">
                    <div>
                        <a class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/add-image (1).png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/gif-square.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/list.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/smile.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/calendar-clock.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/marker.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/bold.png" alt="">
                        </a>
                        <a  class="link_icon">
                            <img class="iconBoxItem" src="../../static/img/italic.png" alt="">
                        </a>
                        
                        
                    </div>
                    <button type="submit" class="tweetButton">Tweeter</button>
                </div>
            </form>
        </div>


            {% for item in tweets %}
                {% include "shared/tweet.jinja.html" %} 
            {%endfor%}
            

    </aside>
    <aside class="side second">
        <form class="searcherWidget" method="post" action="/search">
            <button type="submit">
                <img src="../../static/img/search_icon.png" alt="">
            </button>
            <input name="filter" type="text" placeholder="Rechercher sur X">
        </form>
        <div class="cardWidget PremiumPlus">
            <h1>Passer à Premium+</h1>
            <p>Profitez d'avantages supplémentaires tels que l'absence de publicités dans vos fils Pour vous et vos Abonnements et la priorisation des réponses la plus importante. </p>
            <button>Passer à Premium+</button>
        </div>
        <div class="widthSeparator"></div>
        <div class="cardWidget Suggestions">
            <h1>Suggestions </h1>
            
            <!---- 
            <div class="suggs">
                <img src="../../static/img/no_pp.png" alt="">
                <div class="username">
                    <p class="usrname">Username</p>
                    <p class="arobase">@pseudo</p>
                </div>
                <button class="followBtn">Suivre</button>
            </div>
            --->
            {% for user in users %}
                <div class="suggs">
                    <img src="{{user['pp_url']}}" alt="">
                    <div class="username">
                        <p class="usrname">  {{user['name']}}  </p>
                        <p class="arobase">  @{{user['username']}} </p>
                    </div>
                    <button class="followBtn">Suivre</button>
                </div>
            {% endfor %}
        </div>

    </aside>


{% endblock %}

{% if current_user['pp_url']!= null %}
    {% block profile %}
        <img src="{{current_user['pp_url']}}" alt="image introuvable" class="pp_icon">
    {% endblock%}
{% endif %}