{% extends "layouts/base.login.html" %}

{% block page_title %}
<title>Twitter | Connexion</title>
{% endblock %}
{% block titre %}Connectez-vous à X{% endblock %}
{% block content %}

    <input class="" id="input" type="text" name="login" placeholder="Numéro de téléphone, adresse mail, nom d'utilisateur">
    <button type="submit" class="bg-white text-black">
        Suivant
    </button>
    <button class="white transparent">
        Mot de passe oublié ?
    </button>
    <h4 id="forget">Vous n'avez pas de compte ? 
        <a href="{{url_for('inscription_page')}}">
            Inscrivez-vous</a></h4>
{% endblock %}