{% extends "layouts/base.html" %}

{% block ownCss %}
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="stylesheet" href="../../static/css/tweet-details.css">
{% endblock %}

{% block content %}
    <aside class="side feed">

        {% include "shared/tweet-details.jinja.html" %} 

    </aside>
    <aside class="side second">
        <form class="searcherWidget" method="post" action="/search">
            <button type="submit">
                <img src="../../static/img/search_icon.png" alt="">
            </button>
            <input name="filter" type="text" placeholder="Rechercher sur X">
        </form>
        <div class="cardWidget PremiumPlus">
            <h1>Passer à Premium+</h1>
            <p>Profitez d'avantages supplémentaires tels que l'absence de publicités dans vos fils Pour vous et vos Abonnements et la priorisation des réponses la plus importante. </p>
            <button>Passer à Premium+</button>
        </div>
        <div class="widthSeparator"></div>
        <div class="cardWidget Suggestions">
            <h1>Suggestions </h1>
            
            <!---- 
            <div class="suggs">
                <img src="../../static/img/no_pp.png" alt="">
                <div class="username">
                    <p class="usrname">Username</p>
                    <p class="arobase">@pseudo</p>
                </div>
                <button class="followBtn">Suivre</button>
            </div>
            --->
        </div>

    </aside>


{% endblock %}


    {% block profile %}
        {% if current_user['pp_url']!= '' %}
        <img src="{{current_user['pp_url']}}" alt="image introuvable" class="pp_icon">
        {% else %}
        <img class="pp_icon" src="../../static/img/no_pp.png" alt="">
        {% endif %}
    {% endblock%}
